*{
    margin: 0;
    padding: 0;
}
body {
    /* font-family: Arial, sans-serif;
    background-image: url('273-2732625_math-formulas-vector-math-formula-hd-png-download.png') ; */
    background: linear-gradient(to right, #fb8500, #219ebc);
    font-family: 'Segoe UI', sans-serif;
    color: #fff;

}
body img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
    object-fit: cover;
}

header{
    background-color: #006d77;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
header .logo h2{
    cursor: pointer;
}
header .logo img {
    width: 40px;
    height: 40px;
    opacity:1;
    border-radius: 50%;
    margin: 4px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}
header ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}


main{
    margin: 100px 0px 0px 0px;
    
}
.calculatorContainer{
    width: 40vw;
    height: 80vh;
    margin: auto;
}
.result input {
    width: 40vw;
    height: 40px;
    font-size: 35px;
    text-align: right;
    margin: auto;
    display: flex;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
}
.key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 10px;
    margin-top: 15px;

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006d77;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: #ffe6a7;
    font-size: 35px;
    cursor: pointer;

  border: none;
  transition: background-color 0.1s ease;
}
.btn:hover {
  background-color: #006d7744;
  color: #ffffff; 
  opacity: 1;
}

#c {
    background-color: #e76f51;
    color: #fefae0;
    /* grid-column: span 2; */
    width: 9vw;
    border-radius: 25px;
    transition: background-color 0.1s ease;
}
#c:hover {
  background-color: #e76f5188;
  color: #ffffff; 
  opacity: 1;
}

#ce{
    font-size: 25px;
    color: red;
    background-color: #e9c46a;
    transition: background-color 0.1s ease;
}
#ce:hover {
  background-color: #e9c46a88;
  opacity: 1;
}

#\+{
    background-color: #606c38;
    color: #fefae0;
    transition: background-color 0.1s ease;
}
#\+:hover {
  background-color: #606c3888;
  color: #ffffff; 
  opacity: 1;
}

#\-{
    background-color: #283618;
    color: #fefae0;
    transition: background-color 0.1s ease;
}
#\-:hover {
  background-color: #28361888;
  color: #ffffff; 
  opacity: 1;
}
#\*{
    background-color: #dda15e;
    color: #fefae0;
    transition: background-color 0.1s ease;
}
#\*:hover {
  background-color: #dda15e88;
  color: #ffffff; 
  opacity: 1;
}


#\/{
    background-color: #bc6c25;
    color: #fefae0;
    transition: background-color 0.1s ease;
}
#\/:hover {
  background-color: #bc6c2588;
  color: #ffffff; 
  opacity: 1;
}


#\={
    background-color: #2a9d8f;
    color: #fefae0;
    grid-column: span 2;
    width: 19vw;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.1s ease;
}
#\=:hover {
  background-color: #2a9d8f88;
  color: #ffffff; 
  opacity: 1;
}
#\= img {
    width : 80px;
    height: 50px;
    display: none;
}


#\%{
    background-color: #F79256;
    color: #fefae0;
    transition: background-color 0.1s ease;
}
#\%:hover {
  background-color: #F7925688;
    color: #ffffff;
}
