*{
    margin: 0;
    padding: 0;
}
body {
    /* font-family: Arial, sans-serif;
    background-image: url('273-2732625_math-formulas-vector-math-formula-hd-png-download.png') ; */
    background: linear-gradient(to right, #1e3c72, #2a5298);
    font-family: 'Segoe UI', sans-serif;
    color: #fff;

}
body img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.6;
    object-fit: cover;
}

header{
    background-color: #666666;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    cursor: pointer;
}
header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px;
}
header ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}


main{
    margin: 100px 0px 0px 0px;
    
}
.calculatorContainer{
    width: 40vw;
    height: 80vh;
    margin: auto;
}
.result input {
    width: 40vw;
    height: 40px;
    font-size: 35px;
    text-align: right;
    margin: auto;
    display: flex;
    border-radius: 50px;
    padding: 0px 10px 0px 10px;
}
.key {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    gap: 10px;
    margin-top: 15px;

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: #ffe6a7;
    font-size: 35px;
    cursor: pointer;

  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #ffe6a744;
}

#c {
    background-color: #e76f51;
    color: #fefae0;
    /* grid-column: span 2; */
    width: 9vw;
    border-radius: 25px;
}
#ce{
    font-size: 25px;
    color: red;
    background-color: #e9c46a;
}
#\+{
    background-color: #606c38;
    color: #fefae0;
}
#\-{
    background-color: #283618;
    color: #fefae0;
}
#\*{
    background-color: #dda15e;
    color: #fefae0;
}
#\/{
    background-color: #bc6c25;
    color: #fefae0;
}
#\={
    background-color: #2a9d8f;
    color: #fefae0;
    grid-column: span 2;
    width: 19vw;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#\= img {
    width : 80px;
    height: 50px;
    display: none;
}
#\%{
    background-color: #F79256;
    color: #fefae0;

}
